# Jupyter Notebook
.ipynb_checkpoints

__pycache__/

### Vim ###
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

#ignore these filetypes when we push
*.json
*.npy
*.geojson
*.h5
*.zip
*.txt
*.png
*.jpg
*.pkl
*.svg